@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');



:root {
  --color-white: #ffffff;
  --color-lightblue-90: #0da9fd;
  --color-bluegray-100: #242a32;
  --color-bluegray-80: #39414d;
  --color-bluegray-10: #e0e6ed;
  --color-bluegray-30: #a6b1c3;
  --color-bluegray-90: #2f3844;
  --color-gray-300: #d1d3d4;
  --color-yellow: #ffc700;
  --color-ffffff: #ffffff;
  --color-242a32: #242a32;
}
:root {
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-4k: 1440px;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gap-16 {
  gap: 16px;
}
.my-36 {
  margin: 36px 0;
}
.ml-48 {
  margin-left: 48px;
}
.mt-48 {
  margin-top: 100px;
}
* {
  box-sizing: border-box;
  font-family: 'Pretendard Variable', Pretendard, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  color: white;
}
.wt-200 {
  width: 200px;
}
a {
  color: inherit;
  text-decoration: none;
}
.skeleton-loading {
  height: 100%;
  position: relative;
  width: fit-content;
}
.skeleton-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 100%;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
  border-radius: 1rem;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 1s infinite;
}
/* .skeleton_loading * {

} */
@keyframes load {
  100% {
    background-position: -100% 0;
  }
}
/* h1.logo {
  margin-right: auto;
  font-size: 2rem;
  position: fixed;
  left: 0;
  margin-left: 40px;
} */
body {
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-bluegray-80);
}
#wrap,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.star {
  width: 24px;
}
button {
  border: 0;
  padding: 8px 16px;
  cursor: pointer;
  background-color: transparent;
}
button.primary {
  width: 100%;
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-lightblue-90);
  border-radius: 4px;
}
#wrap {
  background-color: var(--color-bluegray-100);
}
#wrap h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.top-rated-container {
  display: flex;
  justify-items: center;

  user-select: none;
  position: fixed;
  z-index: 2;
  max-width: 1280px;
  margin: 0 auto;
}
footer.footer {
  min-height: 180px;
  background-color: var(--color-bluegray-80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
}
footer.footer p:not(:last-child) {
  margin-bottom: 8px;
}
.observer-trigger {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  display: block;
}
header {
  width: 100%;
  position: relative;
  z-index: 3;
}
#headerSection {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-background {
  width: 100%;
  position: fixed;
  height: 100px;
  z-index: 10;
  backdrop-filter: blur(0px);
  background: linear-gradient(
    to bottom,
    rgba(36, 42, 50, 0),
    rgba(36, 42, 50, 0),
    rgba(36, 42, 50, 0)
  );
}
.header-background.scrolled {
  backdrop-filter: blur(2px);
  background: linear-gradient(
    to bottom,
    rgba(36, 42, 50, 0.8),
    rgba(36, 42, 50, 0.5),
    rgba(36, 42, 50, 0)
  );
}
.header-container {
  top: 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 0 36px;
  flex-direction: column;
  gap: 20px;
  z-index: 500;
}
.header-logo {
  cursor: pointer;
  z-index: 500;
}
.header-transparent-logo {
  display: none;
  visibility: hidden;
}
.search-input-box {
  width: 100%;
  //position: absolute;
  max-width: 525px;
  height: 36px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid #d1d5db;
  border-radius: 100px;

  padding: 6px 16px;
  z-index: 500;
}
input {
  width: 100%;
  color: var(--color-white);
  font-size: 16px;
  border: none;
  background-color: transparent;
}
input::placeholder {
  color: var(--color-white);
}
/* 데스크탑 이상 (1024px~) */
@media (min-width: 1024px) {
  #headerSection {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header-container {
    top: 20px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0 36px;
  }

  .header-transparent-logo {
    display: block;
    visibility: hidden;
  }
}
#bannerSection {
  display: block;
}
.title {
  font-size: 3rem;
  font-weight: bold;
}
.banner-logo-box {
  width: 300px; /* 또는 100% */
  overflow: hidden;
}
.banner-logo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 30px;
}
.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center center;
  background-size: cover;
  height: calc(100vh / 1.8);
  padding: 48px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.top-rated-movie {
  z-index: 1;
  width: 100%;
  max-width: 1440px;
}
.top-rated-movie > *:not(:last-child) {
  margin-bottom: 8px;
}
.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
  margin: 4px 0;
}
.rate > img {
  position: relative;
  top: 2px;
}
span.rate-value {
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.66rem;
}
@media (min-width: 1024px) {
  .banner-logo-box img {
    margin-top: 0;
  }
}
.modal-title {
  margin-bottom: 36px;
}
.modal-dialog::backdrop {
  backdrop-filter: blur(8px);
  background-color: #00000080;
}
.modal-dialog {
  background-color: #2d3748;
  width: 100%;
  overflow: hidden;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 16px 16px 0 0;
  padding: 0;
  margin: 0;
  bottom: 0;
  position: fixed;
  max-width: 100%;
  heigth: 600px;
  margin-top: calc(100vh - 600px);
}
.modal-container {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  padding: 24px;
  gap: 24px;
  height: 600px;
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.modal-close:hover {
  opacity: 1;
}
.modal-content-box {
  width: 100%;
  display: flex;
  justify-items: center;
}
.modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-title {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}
.movie-info {
  font-size: 14px;
  color: #a0aec0;
  margin-bottom: 20px;
}
.movie-rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.rating-label {
  margin-right: 10px;
  color: #a0aec0;
}
.rating-value {
  display: flex;
  align-items: center;
}
.rating-star {
  color: var(--color-yellow);
  margin-right: 5px;
}
.rating-number {
  color: var(--color-yellow);
  font-size: 18px;
  font-weight: bold;
}
#starRatingFormBox {
  width: 100%;
}
.my-rating-section {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #4a5568;
}
.my-rating-title {
  font-size: 18px;
  margin-bottom: 15px;
}
.stars-container {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
  align-items: center;
}
.star-box {
  display: flex;
}
.star {
  position: relative;
  width: 30px;
  height: 29px;
  display: inline-block;
  margin-right: 4px;
  cursor: pointer;
}
.star-bg,
.star-fill {
  position: absolute;
  top: 0;
  left: 0;
}
.star-fill {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}
/* 
.star-fill.hover {
  opacity: 0.6;
} */
.rating-text {
  font-size: 16px;
  color: var(--color-yellow);
  line-height: 16px;
  margin-top: 4px;
}
.rating-score {
  color: #a0aec0;
  margin-left: 5px;
}
.synopsis-section {
  padding: 20px 0;
}
.synopsis-title {
  font-size: 18px;
  margin-bottom: 15px;
}
.synopsis-content {
  font-size: 14px;
  line-height: 1.6;
  color: #cbd5e0;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.modal-image {
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  display: flex; /* 이미지 가운데 정렬시 유용 */
  justify-content: center;
  align-items: center;
}
.modal-image img {
  height: 100%; /* 부모 높이에 맞춤 */
  width: auto; /* 비율 유지 */
  object-fit: contain; /* 또는 cover, 상황에 따라 */
}
.movie-content-title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #4a5568;
}
.poster-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sm-star-box {
  display: flex;
  gap: 6px;
}
.sm-star-box p {
  line-height: 1;
}
@media (min-width: 1024px) {
  .modal-dialog {
    position: fixed;
    background-color: #2d3748;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    color: white;
    border-radius: 16px;
    max-height: calc(100% - 2em - 6px);
    margin: auto;
  }

  .modal-container {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .modal-image {
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
  }

  .modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .poster-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .modal-content {
    align-items: flex-start;
  }

  .movie-content-title-box {
    align-items: flex-start;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Pretendard-Regular';
  font-weight: 400;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
dialog {
  padding: 0;
  overflow: hidden;
  position: fixed;
  border: none;
}
dialog:focus {
  outline: none;
  border: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill,
input:focus,
input:autofill:active {
  border: none;
  outline: none;
  background-color: transparent;
  background: transparent;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: inherit;
}
.tab {
  display: flex;
  margin: 32px 0;
}
.tab-item {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;

  border-radius: 40px;
  background: linear-gradient(90deg, #14191f 0%, #0a0d12 100%);
}
.tab-item.selected {
  background: linear-gradient(90deg, #4b8bf4 0%, #1c2a3a 100%);
}
.tab-item:hover {
  background: linear-gradient(90deg, #2f3e54 0%, #4b8bf4 100%);
}
.tab li:not(:last-child) {
  margin-right: 8px;
}
.thumbnail-list {
  width: 100%;
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 70px;
}
.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}
.item {
  user-select: none;
  cursor: pointer;
}
.item-desc > *:not(:last-child) {
  margin-bottom: 4px;
  line-height: 1.2rem;
  position: relative;
}
p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}
p.rate > span {
  margin-left: 4px;
}
.item .star {
  width: 16px;
  top: 1px;
}
.thumbnail-list {
  width: 100%;
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(1, 200px); /* 기본: 모바일 1열 */
  gap: 70px;
  justify-content: center;
}
@media (min-width: 520px) {
  .thumbnail-list {
    grid-template-columns: repeat(2, 200px);
  }
}
/* 태블릿 이상 (768px~): 2열 */
@media (min-width: 768px) {
  .thumbnail-list {
    grid-template-columns: repeat(3, 200px);
  }
}
/* 데스크탑 이상 (1024px~): 4열 */
@media (min-width: 1024px) {
  .thumbnail-list {
    grid-template-columns: repeat(4, 200px);
  }
}
/* 4K 데스크탑 이상 (1440px~): 5열 */
@media (min-width: 1440px) {
  .thumbnail-list {
    grid-template-columns: repeat(5, 200px);
  }
}
.text-xl {
    font-size: 36px;
    font-weight: 600;
}
